.yellow {
  background-color: #FACC2E;
  height: 150px;
  width: 250px;
  display: inline-block;
}

.grey {
  background-color: #3F3D3D;
  color: white;
  height: 150px;
  width: 250px;
  display: inline-block;
  margin: 1em;
}

h3 {
  padding: 0.5em;
}
